* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor0: #ffffff;
  --cor1: #fb6504;
  --cor2: #000000;
  --cor4: #e6dfdf;
  --cor5: #ca5405;
  --cor6: #1a1a1a;

  --fonte-texto: "Inter", sans-serif;
  --fonte-titulo: "Bruno Ace SC", cursive, sans-serif;
}
#body {
  background-color: #1a1a1a;
}
#header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
#titulo {
  font-family: var(--fonte-titulo);
  color: var(--cor2);
}
#texto {
  font-family: var(--fonte-texto);
  color: var(--cor2);
  text-align: justify;
  line-height: 2rem;
}
#section1 {
  background-color: var(--cor4);
}
#nav {
  background-color: var(--cor2);
  font-family: var(--fonte-texto);
}
#menu1 {
  color: var(--cor0);
}
#menu1:hover {
  color: var(--cor1);
}
#menu2 {
  color: var(--cor2);
  font-family: var(--fonte-texto);
}
#menu2:hover {
  color: var(--cor1);
}
#hamb {
  color: #ffffff;
  margin: 0;
  padding: 0;
}
#img-logo {
  width: 20px;
  margin: 0;
  padding: 0;
}
#img2 {
  width: 100px;
  border-radius: 50%;
}
#texto2 {
  font-family: var(--fonte-texto);
  font-size: small;
}
#submenu-top {
  background-color: var(--cor1);
  color: var(--cor0);
  font-family: var(--fonte-texto);
  font-size: 12px;
}
#btn {
  background-color: var(--cor1);
  color: var(--cor0);
  padding: 2px 10px;
  margin: 0;
  border-radius: 13px 13px;
}
#btn:hover {
  background-color: var(--cor0);
  color: var(--cor1);
}
#tituloform {
  font-family: var(--fonte-texto);
  font-size: 35px;
  color: var(--cor2);
}
#section2 {
  background-color: var(--cor1);
}
#btn2 {
  background-color: rgb(8, 163, 8);
  color: var(--cor0);
  padding: 10px 10px;
  margin: 0;
  border-radius: 13px 13px;
}
#btn2:hover {
  background-color: var(--cor2);
  color: var(--cor0);
}
#texto3 {
  font-family: var(--fonte-texto);
  color: var(--cor2);
  font-size: large;
  text-align: justify;
  line-height: 2rem;

}
#cor1 {
  color: #fb6504;
}
#section3 {
  background-color: #000000;
}
#titulo3 {
  font-family: var(--fonte-titulo);
  color: var(--cor0);
  text-shadow: 2px 2px 1px #fb6504;
}
#img3 {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  border: 2px solid #ffffff;
}
#containerimg {
  background-color: var(--cor6);
}
#img4 {
  height: 600px;
  border: 2px solid #ffffff;
  border-radius: 8px;
}
#footer2 {
  background-color: #fb6504;
  font-size: small;
}
#footer {
  background-color: #000000;
  color: #ffffff;
}
